@import 'tailwindcss';
.sky-scroll::-webkit-scrollbar {
  width: 8px;
}

.sky-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sky-scroll::-webkit-scrollbar-thumb {
  background-color: #0ea5e9; /* sky-500 */
  border-radius: 9999px;
}

.sky-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #38bdf8; /* sky-400 */
}

/* Firefox */
.sky-scroll {
  scrollbar-width: thin;
  scrollbar-color: #0ea5e9 transparent;
}
